{% extends "layout.html" %}

{% block quregelung %}
   
<div id="wrapper" style="width:50%;float:right;"> 
	<div id="remover" id="reload2" >
		<div id="container" style="width:100%;margin-right:10px;margin-top:25px; background-color:#DBDBDB; border-radius: 25px; padding:20px; padding-bottom:50px;float:right;">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">Regelungen</a>
			  
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-item nav-link" href="#" name="quregelung.html">Q(U)<span class="sr-only">(current)</span></a>
				  <a class="nav-item nav-link active" href="#" name="quouregelung.html">Q/Pmax(U)</a>
				  <a class="nav-item nav-link" href="#" name="maxpregelung.html">max-P</a>
				  <a class="nav-item nav-link" href="#" name="puregelung.html">P(U)</a>
				</div>
			  </div>
			</nav>
			<p>VRef: {{values['vref']}}V</p>
			<p>WMax: {{values['wmax']}}W</p>
			<div id="wrapper">        
				<div class="quregelung" style="margin-top:10px;">
					<form id="extraRow">
						{% for value in values['valuesquo'] %}
							<div class="form-row">
								<div class="col-sm-" >
									<p>Spannung (in % von VRef):</p>
									<input type="text" class="form-control" name="V{{loop.index}}" value="{{ value[0] }}" style="width:30%;">
								</div>
								<div class="col-sm-" >
									<p>Q/Wmax:</p>
									<input type="text" class="form-control" name="Quo{{loop.index}}" value="{{ value[2] }}" style="width:30%;">
								</div>
								<div class="col-sm-" >
									<p>Blindleistung (in VAr):</p>
									<p id="VAr{{loop.index}}" name="VAr{{loop.index}}">{{ value[1] }}</p>
								</div>
								<button id="{{loop.index}}" class="minus" type="button" style=" float:left; margin-top:15px; margin-right: 10px;">Löschen</button>
							
							</div>
							
						{% endfor %}
					</form>
				</div>
				<button class="btn btn-info plus" style=" float:left; margin-top:10px; margin-right: 10px;">Hinzufügen</button>
				<button class="btn btn-primary" id="modalButton" type="button" href="#" data-target="#Modal" data-toggle="modal" style="margin-top:10px;float:left;">Absenden</button>
			</div>
		</div>
	</div>
	<div id="container" class="bottomDiv" style="width:100%;margin-right:10px;margin-top:10px;  background-color:#DBDBDB; border-radius: 25px; padding:0px 7% 30px 10%; float:right;">
		<div id="container" class="reload3" style="width:80%; margin-left:37%; margin-top:5%; float:left;">
						<div  class="pre-scrollable" style="border: 2px solid #eabd41; float:left;margin-left:-17%; position:absolute; padding:10px; height:150px;">
							{% for value in values['valuesquo'] %}
								<p>V{{loop.index}}: {{ value[0] }} (in %) - VAr{{loop.index}}: {{ value[1] }}</p>
							{% endfor %}
						</div>
		</div>
		<div id="QUGraph" style="width:300px;height:150px;float:right;position:relative;"></div>
	</div>
</div>
	<div class="modal" id="Modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Soll folgende Regelung gespeichert werden?</h3>
				</div>
				<div class="modal-body">
					<div id="wrapper" style="display:flex;">
					<div  style="flex: 0 0 50%;" id="reload">
						<h4>Aktuell:</h4>
						{% for value in values['valuesquo'] %}
							<p>V{{loop.index}}: {{ value[0] }} (in %) -Q/Wmax{{loop.index}}: {{ value[2] }}</p>
							<p>VAr{{loop.index}}: {{ value[1] }}(in VAr)</p>
						{% endfor %}
					</div>
					<div id="newModal" style="flex:1;">
						<h4>Neu:</h4>
					</div>
					</div>
					<div class="btn-group btn-group-justified" role="group" aria-label="..." >
						<div class="btn-group" role="group">
							<button class="btn btn-danger btn-lg myInput" data-dismiss="modal">Abbrechen</a>
							<button type="button" id="submitQU" class="btn btn-success " style="margin-top:10px;float:left;" data-dismiss="modal">Submit</button> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	
	
	
	{% include "js/quoujs.html" %}
	

{% endblock %}


