<script>
	
	
	
	$('#modalButton').on('click', function(){
				var j;
				var Vlist = []
				var Wlist = []
				for (i = 1; i < amount+1; i++) {
					var searchV = 'input[name="V' + i + '"]';
					var searchW = 'input[name="W' + i + '"]';
					if ($(searchV).val() < 0) {
						alert("Fehler: Bitte überprüfe die eingegebenen SPANNUNGswerte");
						return false;
					}
					Vlist.push($(searchV).val());
					Wlist.push($(searchW).val());
				}
				$('#newModal').html('<h4>Neu:</h4>');
				for (k= 0; k < Vlist.length; k++){
					$('#newModal').append('<p>V' + (k+1) + ': ' + Vlist[k] + ' (in %) - VAr' + (k+1) + ': ' + Wlist[k] + '</p>');
				}
			});
			
	function totalReloadPU(amount) {
			var i;
			var inputvaluesV = []
			var inputvaluesW = []
			for (i = 1; i < amount+1; i++) {
				var searchtextV = 'input[name="V' + i + '"]';
				var searchtextVAr = 'input[name="W' + i + '"]';
				inputvaluesV.push($(searchtextV).val());
				inputvaluesW.push($(searchtextVAr).val());
			} 
			var valueObject = { 
							valuesV : inputvaluesV,
							valuesW : inputvaluesW,
					}
			
		  $.post('control', JSON.stringify(valueObject), function(data) {
			window.location.replace("{{ url_for( 'index' , html='puregelung.html' ) }}");
		  });
		  
		  
		  
		  
		  return false;
			
			}
					
			function deleteEntryPU(target) {
			
			var i;
			var inputvaluesV = []
			var inputvaluesW = []
			for (i = 1; i < amount+1; i++) {
				var searchtextV = 'input[name="V' + i + '"]';
				var searchtextW = 'input[name="W' + i + '"]';
				inputvaluesV.push($(searchtextV).val());
				inputvaluesW.push($(searchtextW).val());
			} 
			var valueObject = { 
							valuesV : inputvaluesV,
							valuesW : inputvaluesW,
							target : target,
					}
			
		  $.post('deleteEntry', JSON.stringify(valueObject), function(data) {
			
			window.location.replace("{{ url_for( 'index' , html='puregelung.html' ) }}");
			
		  });
		  
		  return false;
			
			}
					
			
			


			function loadGraph() {
					var d1 = [];
				{% for value in values['valuesvwatt'] %}
					d1.push([{{ value[0] }}, {{ value[1] }}]);
				{% endfor %}
				
				
				$.plot("#QUGraph", [{
					data: d1,
					lines: { show: true },
					points: { show: true }
				},]);
			}
					
			loadGraph();
			var amount = 0;
			{% for dict_item in values['valuesvwatt'] %}
							amount += 1;
			{% endfor %}
			
				
				
			
				$('#submitQU').bind('click', function() {
					
					totalReloadPU(amount);
				});
					  
			
			
			$("body").on("keyup", "#extraRow", function(event){
				if(event.keyCode==13){
					var j;
				var Vlist = []
				var Wlist = []
				for (i = 1; i < amount+1; i++) {
					var searchV = 'input[name="V' + i + '"]';
					var searchW = 'input[name="W' + i + '"]';
					if ($(searchV).val() < 0) {
						alert("Fehler: Bitte überprüfe die eingegebenen SPANNUNGswerte");
						return false;
					}
					Vlist.push($(searchV).val());
					Wlist.push($(searchW).val());
				}
				$('#newModal').html('<h4>Neu:</h4>');
				for (k= 0; k < Vlist.length; k++){
					$('#newModal').append('<p>V' + (k+1) + ': ' + Vlist[k] + ' (in %) - VAr' + (k+1) + ': ' + Wlist[k] + '</p>');
				}
				$('#Modal').modal('show'); 
				}
			});
			
			
			
			$(".plus").click(function(){
				amount += 1;
				$("#extraRow").append("<div class='form-row'><div class='col-sm-'><p>Spannung (in %):</p><input type='text' class='form-control' name='V" + amount + "' style='width:30%;'></div><div class='col-sm-'><p>Wirkleistung (in % von WMax):</p><input type='text' class='form-control' name='W" + amount + "' style='width:30%;'></div></div>");
				
			});
			
			
			
			$(".quregelung").on("click", ".minus", function(){
				var id = $(this).attr('id');
				deleteEntryPU(id - 1);
			});
					
			$('.nav-item').on('click',function() {
					  
					html = $(this).attr('name');
					if (html=="quregelung.html") {
						window.location.replace("{{ url_for( 'index' , html='quregelung.html' ) }}");
					}
					if (html=="puregelung.html") {
						window.location.replace("{{ url_for( 'index' , html='puregelung.html' ) }}");
					}
					if (html=="quouregelung.html") {
						window.location.replace("{{ url_for( 'index' , html='quouregelung.html' ) }}");
					}
					if (html=="maxpregelung.html") {
						window.location.replace("{{ url_for( 'index' , html='maxpregelung.html' ) }}");
					}
			});
</script>
